blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0}
table {border-collapse: collapse;border-spacing: 0}
fieldset, img {border: 0}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: 400}
li, ol, ul {list-style: none}
dd, dt {margin: 0;padding: 0}
caption, th {text-align: left}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: 400}
q:after, q:before {content: ''}
a, button, input, textarea {-webkit-tap-highlight-color: transparent;text-decoration: none;}
body {margin: 0 auto;}
.main {width: 100%}
.center{text-align: center;}
.header{
	background:linear-gradient(315deg,rgba(255,70,189,1) 0%,rgba(254,19,100,1) 100%);
	/*background: #ff2f94;*/
	font-size: .3rem;
	height: .88rem;
	line-height: .88rem;
	color: #fff;
	padding: 0 .3rem;
}
.header .p_link{
	display: inline-block;
	width: 49%;
	font-size: .4rem;
	vertical-align: top;
}
.header .p_link:nth-of-type(2){
	font-size: .3rem;
}
.header span{
	float: right;
	background: #fbe635;
	color: #8b572a;
	height: .6rem;
	line-height: .6rem;
	padding:0 .2rem;
	border-radius: 30px;
	margin-top: .14rem;
}
.div_conte{
	font-size: .34rem;
	padding:0 .3rem;
	color: #4a4a4a;
	line-height: 24px;
	padding-bottom: 1.4rem;
}
.div_conte .p_cont_title{
	padding:.2rem 0;
}
.div_conte .div_img{
	padding:.12rem 0;
}
.div_conte .div_img img{
	width: 49%;
}
.div_conte .div_img img:nth-of-type(2){
	margin-left: 2%;
}
.bar{
  position: fixed;
  bottom:0;
  width: 7.5rem;
  height: 1.3rem;
  background:linear-gradient(135deg,rgba(223,194,255,1) 0%,rgba(158,220,214,1) 100%);
   /*background: linear-gradient(180deg,#ddc3fe 0%,#afd5e1 100%);*/
  /*background: #c8ccf1;*/
  z-index: 1500;
  /*max-width: 640px;*/
}
.bar .img_icon_tt{
    float: left;
    margin:11px 10px 0 16px;
    width: .9rem;
    height: .9rem;
}
.bar .p_hed_tit{
    font-size: .34rem;
    color: #9522fe;
    font-weight: 600;
    margin-top: 9px;
}
.bar .sp_tit_text{
  font-size: 0.28rem;
  color: #007AFF;
  font-weight: 600;
  padding-top: .1rem;
}
.bar .p_hed_righ{
    position: absolute;
    /*background: #f9cf29;*/
    color: #9013fe;
    right: 16px;
    font-weight: 600;
    top: .32rem;
    width: 2rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .34rem;
    text-align: center;
    border-radius: 10px;
    background:linear-gradient(180deg,rgba(252,245,60,1) 0%,rgba(248,182,28,1) 100%);
	box-shadow:0px 1px 2px 0px rgba(0,0,0,0.5);
    /*box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);*/
}